@import url("layout.css");

@import “./typography.css”;

nav ul {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*border: 2px solid red;*/
}

.responsive {
    max-width: 100%;
    height: auto;
}

.portfolio-card {
    border: 4px solid rgb(7, 242, 250);
    max-width: 700px;    
    border-radius: 3px;
    background-color: rgba(187, 247, 159, 0.562);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0.1em;
    color: rgb(48, 47, 47);
}

.portfolio-card button {
    border: none;
    display: flex;
    justify-content: center;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.699);
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

.article {
    width:80%;
    margin: auto;
    display: block;
    font-size: 1.3rem;
}

.about-card {
    display: flex; 
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 4px solid rgb(7, 242, 250);
    background-color: rgba(253, 189, 255, 0.562);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0.2em;
}

.testimonial-card {
    border: 4px solid rgb(7, 242, 250);
    display: flex; 
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 3px;
    background-color: rgba(139, 199, 255, 0.63);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0.2em;
    color: rgb(0, 0, 0);
}

.avatar {
    margin-top: 10px;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgb(107, 107, 107);  
}

.social-block {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 4px solid rgb(7, 242, 250);
    border-radius: 3px;
    background-color: rgba(247, 252, 0, 0.637);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.social-icons { 
    margin-top: 10px;
    vertical-align: middle;
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgb(107,107,107);  
}

.footer-menu {
    /*border: 2px solid red; */
    display: flex; 
    flex-flow: nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
