.wrapper {
    display: grid;
    gap: 20px;
    width: 90%;
    margin: auto;
}

.header {
    grid-area: header ;
    border: 3px solid rgba(119, 0, 199, 0.89);
    background-color: rgba(253, 189, 255, 0.562);
}

.nav {
    grid-area: nav;
    border: 3px solid rgba(235, 231, 14, 0.89);
    background-color: rgba(241, 240, 127, 0.562);
}

.main-content {
    grid-area: main-content;
    /*border: 3px solid rgba(91, 226, 13, 0.89);*/
    /*background-color: rgba(167, 238, 134, 0.562);*/
}

.about {
    grid-area: about ;
    /*border: 3px solid rgba(119, 0, 199, 0.89);*/
    /*background-color: rgba(253, 189, 255, 0.562);*/
}

.testimonial {
    grid-area: testimonial;
    /*border: 3px solid rgba(8, 32, 241, 0.89);*/
    /*background-color: rgba(87, 126, 253, 0.562);*/
}

.social {
    grid-area: social;
    /*border: 3px solid rgba(119, 0, 199, 0.89);*/
    /*background-color: rgba(253, 189, 255, 0.562);*/
}

.footer {
    grid-area: footer;
    border: 3px solid rgba(8, 8, 8, 0.89);
    background-color: rgba(143, 146, 141, 0.562);
}


/* mobile, tablets */
@media screen and (max-width: 768px) {
    .wrapper {
        /*border: 10px solid white;*/      
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: 
            "header"
            "nav"
            "main-content"
            "about"
            "testimonial"
            "social"
            "footer";
    }

    nav ul {
        flex-direction: column;
    }

    .portfolio-grid {
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto; 
        gap: 1rem;
    }

    .footer-menu {
        flex-direction: column;
    }        
}

/* laptops, small screens */
@media screen and (min-width: 769px) {
    .wrapper {
        /*border: 10px solid yellow;*/
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: 
            "header header header header header header"
            "nav nav nav nav nav nav"
            "main-content main-content main-content main-content main-content main-content"
            "about about about testimonial testimonial testimonial"
            "social social social social social social"
            "footer footer footer footer footer footer";
    }

    .portfolio-grid {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto; 
        gap: 1rem;
    }

    .social-block {
        flex-direction: row;   
    }
}

/* desktops, large screens */
@media screen and (min-width: 1025px) {
    .wrapper {
    /*border: 10px solid green;*/
    grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: 
            "header header header header header header"
            "nav nav nav nav nav nav"
            "main-content main-content main-content main-content main-content main-content"
            "about about about testimonial testimonial testimonial"
            "social social social social social social"
            "footer footer footer footer footer footer";
    }

    .portfolio-grid {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto; 
        gap: 1rem;
    }

    .social-block {
        flex-direction: row;
    }
}

/* extra large screens, TVs */
@media screen and (min-width: 1201px) {
    .wrapper {
        /*border: 10px solid pink;*/
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: 
            "header header header header header header"
            "nav nav nav nav nav nav"
            "main-content main-content main-content main-content main-content main-content"
            "about about testimonial testimonial social social"
            "footer footer footer footer footer footer";
    }

    .portfolio-grid {
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto; 
        gap: 1rem;
    }

    .social-block {
        flex-direction: column;
        
    }
}